.border{
  border: 1px solid black;
}

#menuRow{
  height: 100px;
}
#mainContentRow{
  height: 500px;
}
#mainContainer{
  margin-top: 2%;
  width: 768px;
}

#logoCol{
  height: 100%;
  position: relative;
}
#logo{
  position: absolute;
  left:14%;
}

#buttonCol{
  height: 100%;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

#play{
  position: absolute;
  top:40%;
  left:0%;
}

#reset{
  position: absolute;
  top:40%;
}

#gameInfoPanel{
  height: 100%;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

#gameArea{
  height: 100%;
  position: relative;
}

#pressAnyKeyRow{
  height: 20%;
}

#pressAnyKeyCol{
  height: 100%;
  position: relative;
}

#pressAnyKeyP{
  position: absolute;
  right:35%;
  top:30%;
  font-size: 27px;

}

#gameBoardRow{
  height: 80%;
  position: relative;
}

#gameBoard{
  position: absolute;
  height: 80%;
  top:10%;
}

#triesLeftPanel{
  width: 100%;
  height:33%;
  margin-bottom: 0;
}

#lettersUsedPanel{
  width: 100%;
  height:33%;
  margin-bottom: 0;
}

#winsLossesPanel{
  width: 100%;
  height:34%;
  margin-bottom: 0;
}

.greenRow{
  height:33.3%;
}

.greenSquare{
  height:100%;
  background-color: #00AE9F;
}

.playerSquare{
  height:100%;
  background-color: white;
  position: relative;
}

.answerLetter{
  position: absolute;
  top:40%;
  left:19%;
  font-size: 30px;
  display: inline;
}

/*.hide{
  display:none;
}*/

    @media screen
      and (min-width:768px)
      and (max-width:1028px){
          #play{
            left:0;
          }
          #reset{
            right:0;
          }
          #menuRow{
            height: 100px;
          }
          #logo{
            top:27%;
            font-size: 25px;
          }
          #mainContentRow{
            height: 400px;
          }
    }
